@import 'partials';


// GENARAL 





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#{$a-tags} {
    text-decoration: none;
    color: #000;
}





// GENERAL ENDS


// HEADER




.main-header {
    position: sticky;
    top: 0;
    // width: 100vw;
    background-color: #fff;
    z-index: 10;
    border-bottom: .8px solid $ice-blue;
    width: 100vw;

    .main-header__container {
        
        height: 9vh;
        padding: 0 15vw;
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;

        .main-header__logo {
            display: flex;
            align-items: center;
            
            h3 {
                margin: .4rem;
                font-size: 1.4rem;
                font-weight: 700;
            }

            i {
                margin: .4rem;
                font-size: 2rem;
                color: $ice-blue;
            }
        }

        .main-nav {
            display: flex;
            align-items: center;

            .main-nav__item {
                margin: 1.3rem;
                font-size: .9rem;
                font-weight: 700;
                text-transform: uppercase;
                transition: all .3s;

                &:hover {
                    color: $ice-blue;
                }
            }

            .main-nav__active {
                color: $ice-blue;
            }
        }
    }
}


// HEADER ENDS


// SECTION START

.section-start {
    height: 70vh;
    width: 100vw;
    background: url(../img/section-first.png) no-repeat center center / 100%;
    display: flex;
    align-items: center;

    .section-start__container {
        width: 40%;
        position: relative;
        left: 13vw;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 14px #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .section-start__text {

            h1 {
                margin: 0;
                font-size: 2.5rem;
                padding-bottom: .5em;
            }

            p {
                font-size: 1.4rem;
            }

        }
    }
}

a.btn {
    background: linear-gradient(to bottom, $ice-blue, rgb(78, 136, 170));
    padding: 2vh 4vw;
    color: #fff;
    border-radius: 40px;
    margin-top: 4vh;
    transition: all .3s;
    text-transform: uppercase;
    font-size: .9rem;
    text-shadow: none;

    &:hover {
        color: $ice-blue;
        background: #fff;
    }
}



// SECTION START END


// SECTION ABOUT US

.about-us {
    // width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5vh 0;
        flex-shrink: initial;
        background-color: $back;
        padding: 5vh;
        border-radius: 40px;
        position: relative;
        
        img {
            align-items: flex-end;
        }

        .about-us__text {
            padding: 1vh;

            h3 {
                font-size: 1.8rem;
                padding-bottom: 2vh;
            }
        }
    }

}





// SECTION ABOUT US ENDS