* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #000; }

.main-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  border-bottom: 0.8px solid #3FACE4;
  width: 100%; }
  .main-header .main-header__container {
    height: 9vh;
    padding: 0 15vw;
    display: flex;
    flex-basis: 50%;
    justify-content: space-between; }
    .main-header .main-header__container .main-header__logo {
      display: flex;
      align-items: center; }
      .main-header .main-header__container .main-header__logo h3 {
        margin: 0.4rem;
        font-size: 1.4rem;
        font-weight: 700; }
      .main-header .main-header__container .main-header__logo i {
        margin: 0.4rem;
        font-size: 2rem;
        color: #3FACE4; }
    .main-header .main-header__container .main-nav, .main-header .main-header__container .m-n {
      display: flex;
      align-items: center;
      top: 0; }
      .main-header .main-header__container .main-nav .main-nav__item, .main-header .main-header__container .m-n .main-nav__item {
        margin: 1.3rem;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s; }
        .main-header .main-header__container .main-nav .main-nav__item:hover, .main-header .main-header__container .m-n .main-nav__item:hover {
          color: #3FACE4; }
      .main-header .main-header__container .main-nav .main-nav__active, .main-header .main-header__container .m-n .main-nav__active {
        color: #3FACE4; }
    .main-header .main-header__container .main-nav__hamburger {
      width: 100%;
      background-color: white;
      position: absolute;
      top: 9vh;
      left: 0;
      margin-top: 1px;
      justify-content: center;
      display: flex;
      align-items: center;
      transition: all 0.25s; }
    .main-header .main-header__container #ham {
      position: fixed;
      z-index: 999;
      right: 3rem;
      width: 40px;
      height: 30px;
      margin: 18px 20px;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      opacity: 0; }
      .main-header .main-header__container #ham span {
        position: absolute;
        height: 7px;
        width: 100%;
        background: linear-gradient(to bottom, #d4e7ff, #57c1ff);
        border-radius: 11px;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out; }
        .main-header .main-header__container #ham span:nth-child(1) {
          top: 0px; }
        .main-header .main-header__container #ham span:nth-child(2), .main-header .main-header__container #ham span:nth-child(3) {
          top: 12.5px; }
        .main-header .main-header__container #ham span:nth-child(2) {
          opacity: 0; }
        .main-header .main-header__container #ham span:nth-child(4) {
          top: 25px; }
      .main-header .main-header__container #ham.open span:nth-child(1) {
        opacity: 0; }
      .main-header .main-header__container #ham.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 1;
        background: linear-gradient(to bottom, #57c1ff, #d4e7ff); }
      .main-header .main-header__container #ham.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: linear-gradient(to bottom, #57c1ff, #d4e7ff); }
      .main-header .main-header__container #ham.open span:nth-child(4) {
        opacity: 0; }

.section-start {
  height: 70vh;
  width: 100%;
  background: url(../img/section-first.png) no-repeat center center/cover;
  display: flex;
  align-items: center; }
  .section-start .section-start__container {
    width: 40%;
    position: relative;
    left: 13vw;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 14px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .section-start .section-start__container .section-start__text h1 {
      margin: 0;
      font-size: 2.5rem;
      padding-bottom: 0.5em; }
    .section-start .section-start__container .section-start__text p {
      font-size: 1.4rem;
      font-variant: small-caps; }

a.btn,
.btn {
  background: linear-gradient(to bottom, #3FACE4, #4e88aa);
  padding: 2vh 4vw;
  color: #fff;
  border-radius: 40px;
  margin-top: 4vh;
  transition: all 0.6s;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-shadow: none;
  cursor: pointer; }
  a.btn:hover,
  .btn:hover {
    color: #3FACE4;
    background: #fff; }

.about-us {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-us__container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16vh 0 0;
    background: linear-gradient(to bottom, #acdfff, #e9f7ff);
    padding: 5vh;
    border-radius: 40px;
    position: relative; }
    .about-us__container img {
      border-bottom: 1px solid #3FACE4; }
    .about-us__container .about-us__text {
      padding: 1vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .about-us__container .about-us__text h3 {
        font-size: 1.8rem;
        padding-bottom: 2vh; }
      .about-us__container .about-us__text p {
        border-bottom: 1px solid #3FACE4;
        padding-bottom: 1vh;
        margin-bottom: 1vh; }
      .about-us__container .about-us__text .text {
        position: relative;
        height: 100%; }
        .about-us__container .about-us__text .text .text__diagnostyka,
        .about-us__container .about-us__text .text .text__wyksztalcenie {
          text-align: left;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          .about-us__container .about-us__text .text .text__diagnostyka ul,
          .about-us__container .about-us__text .text .text__wyksztalcenie ul {
            font-size: 0.71rem;
            width: 85%;
            margin-top: 0.4rem;
            margin-right: 5%;
            line-height: 1.1rem; }
          .about-us__container .about-us__text .text .text__diagnostyka .text__title,
          .about-us__container .about-us__text .text .text__wyksztalcenie .text__title {
            font-size: 1.3rem;
            width: 100%; }
          .about-us__container .about-us__text .text .text__diagnostyka .listy,
          .about-us__container .about-us__text .text .text__wyksztalcenie .listy {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            line-height: 0.2rem;
            height: 1rem;
            width: 68%; }
        .about-us__container .about-us__text .text .notactive-text {
          z-index: -1; }
        .about-us__container .about-us__text .text .active-text {
          z-index: 1; }
      .about-us__container .about-us__text .text__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 3vw; }
        .about-us__container .about-us__text .text__buttons .btn {
          padding: 1.2vh 2.2vw;
          color: #3FACE4;
          background: #fff;
          margin: 0 4px; }
          .about-us__container .about-us__text .text__buttons .btn:hover {
            color: #fff;
            background: #3FACE4; }
        .about-us__container .about-us__text .text__buttons .active--btn {
          color: #fff;
          background: #3FACE4; }
        .about-us__container .about-us__text .text__buttons .notactive--btn {
          color: #3FACE4;
          background: #fff; }

.contact-section {
  width: 100%;
  height: 30vh;
  background: linear-gradient(to bottom, white, #3FACE4);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh; }
  .contact-section .contact-section__container {
    width: 1000px;
    display: flex;
    justify-content: center; }
    .contact-section .contact-section__container .contact-section__item {
      flex-basis: 33%;
      text-align: center; }
      .contact-section .contact-section__container .contact-section__item h3 {
        font-size: 1.4rem;
        padding-bottom: 20px; }
      .contact-section .contact-section__container .contact-section__item p {
        font-size: 0.8rem;
        line-height: 2rem; }

.google-map {
  padding-top: 15vh; }

.page-footer {
  background-color: #222;
  color: #fff;
  font-size: 0.8rem;
  text-align: center; }

@media (max-width: 1140px) {
  .main-header .main-header__container #ham {
    opacity: 1; }
  .main-header .main-header__container .main-nav {
    opacity: 0; }
  .section-start .section-start__container {
    width: 100%;
    display: flex;
    left: 0;
    flex-direction: column;
    align-items: center; }
    .section-start .section-start__container .section-start__text h1 {
      font-size: 2rem;
      padding-bottom: 0.4em; }
    .section-start .section-start__container .section-start__text p {
      font-size: 1.1rem; }
    .section-start .section-start__container .section-start__text a.btn, .section-start .section-start__container .section-start__text .btn {
      width: 30%; }
  .about-us .about-us__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    position: relative; }
    .about-us .about-us__container img:nth-child(2) {
      order: -1; }
    .about-us .about-us__container .about-us__text {
      height: 45%; }
      .about-us .about-us__container .about-us__text .text {
        height: 260px; }
      .about-us .about-us__container .about-us__text .text__buttons {
        padding: 60px 3vw; }
  .contact-section {
    width: 100%;
    height: 56vh;
    display: block;
    margin-top: 5vh; }
    .contact-section .contact-section__container {
      margin-top: 80px;
      width: 100%;
      display: block; }
      .contact-section .contact-section__container .contact-section__item {
        display: block;
        margin-top: 10px; } }

@media (max-width: 960px) {
  .section-start .section-start__container .section-start__text h1 {
    color: red; }
  .section-start .section-start__container .section-start__text p {
    color: red; } }

@media (max-width: 719px) {
  .section-start .section-start__container .section-start__text h1 {
    color: green; }
  .section-start .section-start__container .section-start__text p {
    color: green; } }

@media (max-width: 539px) {
  .section-start .section-start__container .section-start__text h1 {
    color: yellow; }
  .section-start .section-start__container .section-start__text p {
    color: yellow; } }
